@font-face {
    font-family: 'vdl-gigag' , sans-serif;   
}

body{
    margin: 0 ;
    font-family: 'vdl-gigag' , sans-serif;
}

.bg{
    position: fixed ;
    display: block ;
    width: 100vw ; 
    height: 100vh ;
    object-fit: cover ;
    opacity: 1 ;
    z-index: -2 ;
}


.gear{
    position: fixed ; 
    width: 100vw;
    height: 100vh;
    opacity: 1 ;
    z-index: -1 ;
}

.gear_13{
    width: 40vw ;
    height: auto ;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto auto;
    margin-right: 58.5vw ;
    left: 15px;
    
}

.gear_21{
    width: 60vw ;
    height: auto ;
    position: fixed;
    top: 10px;
    bottom: 0;
    margin: auto auto;
    margin-left: 40vw;
}

.opening{
    width: 100% ;
    height: 2500px ;
}

.opening_intro{
    width: 60vw ;
    height: 200px ;
    margin: auto ;
    font-size: 35px ;
    text-align: center ;
    line-height: 200px ;
}

.opening_title{
    width: 50% ;
    height: 200px ;
    margin: auto ;
    padding-top: calc(100vh * 1200 / 1080) ;
    font-size: 50px ;
    text-align: center ;
    line-height: 200px ;
}

.opening_title_logo{
    width: 60vw ;
    height: auto ;
    margin-left: -10% ;
}

.con1{
    height: 500px ;
    margin-top: 2000px ;
}

.con1_{
    width: 70vw ;
    margin-left: 15vw ;
    margin-top: 150px ; 
}

.con2{
    height: 500px ;
    margin-top: 2000px ;
}

.con2_{
    width: 70vw ;
    margin-left: 15vw ;
    margin-top: 150px ; 
}

.con3{
    height: 500px ;
    margin-top: 1000px ;
}

.con3_{
    width: 70vw ;
    margin-left: 15vw ;
    margin-top: 150px ; 
}

.con4{
    height: 500px ;
    margin-top: 1000px ;
}

.con4_{
    width: 70vw ;
    margin-left: 15vw ;
    margin-top: 150px ; 
}

.con5{
    height: 500px ;
    margin-top: 1000px ;
}

.con5_{
    width: 70vw ;
    margin-left: 15vw ;
    margin-top: 150px ; 
}

.con6{
    height: 500px ;
    margin-top: 1000px ;
}

.con6_{
    width: 70vw ;
    margin-left: 15vw ;
    margin-top: 150px ; 
}

.con7{
    height: 500px ;
    margin-top: 1000px ;
}

.con7_{
    width: 70vw ;
    margin-left: 15vw ;
    margin-top: 150px ; 
}

.con8{
    height: 500px ;
    margin-top: -1300px ;
}

.con8_{
    width: 70vw ;
    margin-left: 15vw ;
    margin-top: 150px ; 
}

.con9{
    height: 300px ;
    margin-top: 1000px ;
}

.con9_{
    width: 70vw ;
    margin-left: 15vw ;
    margin-top: 150px ; 
}

.con10{
    height: 500px ;
    margin-top: -1300px ;
}

.con10_{
    width: 70vw ;
    margin-left: 15vw ;
    margin-top: 150px ; 
}

.con11{
    height: 500px ;
    margin-top: 1500px ;
}

.con11_{
    width: 70vw ;
    margin-left: 15vw ;
    margin-top: 150px ; 
}

.con12{
    height: 500px ;
    margin-top: 2000px ;
}

.con12_{
    width: 70vw ;
    margin-left: 15vw ;
    margin-top: 150px ; 
}

.con13{
    height: 500px ;
    margin-top: 2000px ;
}

.con14{
    height: 500px ;
    margin-top: 2000px ;
}

.audio_button{
    width: 100px ;
    height: 100px ;
    position: fixed;
    margin-top: 40px ;
    z-index: 9999;
    opacity: 1 ;
    margin-left:90vw ;
    background-image: url(../image/PNG/button_pause.png) ;
}

.play .audio_button{

    background-image: url(../image/PNG/button_play.png) ;
}
